.logo {
  width: 100px;
  height: 100px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid lightcyan;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 10px 10px;
}

.nav-item {
  padding: 5px;
  color: lightslategrey;
}
.search-container {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.search-button {
  margin-left: 10px;
}
.restaurant-card {
  width: 300px;
  border-radius: 5px;
  border: 0.5px solid darkgray;
}
.restaurant-card:hover {
  border: 1.5px solid darkgray;
  border-radius: 2px;
}
.restaurant-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.restaurant-logo {
  width: inherit;
}
